*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:  none;
  font-family: sans-serif;
}
body{
  background: url(https://img.freepik.com/premium-vector/hand-drawn-seamless-pattern-business-finance-elements-illustration_293114-309.jpg?w=740);
}

.container{
  height:100vh;
  display: flex;  
  justify-content: center;
  align-items: center;
}
.calculator{
  background-color: #6cc7e0;
  padding:15px;
  border: solid black ;
  border-radius: 40px;
  display: grid;
  grid-template-columns: repeat(4,80px);
}
input{
    grid-column: span 4;
    height: 100px;
    width:300px;
    background-color: #ecf0f3;
    border-radius: 30px;
    color: rgb(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
  font: bold;
  color: rgb(2, 1, 1);
  height: 60px;
  width: 70px;
  background-color:#ffd344;
  border-radius: 50%;
  margin: 8px;
  transition: transform .4s;
}
button:hover{
  transform: scale(1.15);
  background-color: white;
}
.equal{
   width: 150px;
   border-radius: 40px;
}
img{
  display: flex;
  height: 100%;
  width: 100%;
}